.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @include mobile {
        width: 320px;
        padding: 0 16px;
    }

    @include tablet {
        width: 768px;
        padding: 0 40px;
    }

    @include desktop {
        width: 1280px;
        padding: 0 40px;
    }
}