.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding: 0 40px;
  }

  @include desktop {
    width: 1280px;
    padding: 0 40px;
  }
}
