:root {
    --primary-text-color: #ffffff;

    --accent: #86E543;

    --primary-bg-color: #01383A;

    --footer-bg-color: #001414;

    --contacts-color: #8D9289;

    --bg-gradient: linear-gradient(rgba(123, 227, 74, 0.3), rgba(123, 227, 74, 0.3));

    // SHADOW--------------------

        --shadow-header: 0px 4px 10px rgba(97, 162, 58, 0.2),
        0px 4px 50px rgba(94, 236, 54, 0.5),
        0px 4px 4px rgba(17, 168, 26, 0.2);


        --shadow-button-accent: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);

        --shadow-button-light: 0px 4px 20px rgba(255, 255, 255, 0.5),
        0px 4px 10px rgba(134, 229, 67, 0.1);

        --shadow-button-cool: 0px 4px 10px rgba(134, 229, 67, 0.1),
        0px 4px 20px rgba(134, 229, 67, 0.4);

        --shadow-line-section: 0px 4px 25px rgba(123, 227, 74, 0.25);

        --shadow-lines-section: 0px 4px 25px rgba(40, 120, 13, 0.25);



}