<section class="blog-section">
    <div class="container blog-container">
        <ul class="list blog-list">
            <li class="blog-item">
                <article class="entry" >
                    <div class="entry-block-top">
                        <h2 class="entry-title">Guide to Picking The Right Gaming Headset</h2>
                        <div class="entry-img">
                        <picture>
                            <source 
                            srcset="
                            ./images/blog/img1-des.jpg 1x,
                            ./images/blog/img1-des2x.jpg 2x"
                            media="(min-width:1280px)"
                            > 
                            <source srcset="
                            ./images/blog/img1-tab.jpg 1x,
                            ./images/blog/img1-tab2x.jpg 2x" 
                            media="(min-width:768px)" 
                            >
                            <source
                            srcset="
                            ./images/blog/img1-mob.jpg 1x,
                            ./images/blog/img1-mob2x.jpg 2x"
                            media="(max-width:767px)"
                            >
                            <img class="entry-pic" src="./images/blog/img1-des.jpg" alt="img1">
                        </picture> 
                    </div>
                    </div>
                    <div class="entry-block-about">
                            <h3 class="entry-author">By Ray Ian Ampoloquio</h3>
                            <p class="entry-date">Updated on September 21, 2022</p>
                        </div>
                        <div class="entry-block-text">
                        <p class="entry-summary">Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                            Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...</p>
                        <a class="link entry-link" rel="stylesheet" href="./blog-article-page.html">Learn more</a>
                    </div>
                    
                  
                </article>
            </li>
            <li class="blog-item">
                <article class="entry" >
                    <div class="entry-block-top">
                        <h2 class="entry-title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
                        <div class="entry-img">
                            <picture>
                            <source 
                            srcset="
                            ./images/blog/img2-des.jpg 1x,
                            ./images/blog/img2-des2x.jpg 2x"
                            media="(min-width:1280px)"
                            > 
                            <source srcset="
                            ./images/blog/img2-tab.jpg 1x,
                            ./images/blog/img2-tab2x.jpg 2x" 
                            media="(min-width:768px)" 
                            >
                            <source
                            srcset="
                            ./images/blog/img2-mob.jpg 1x,
                            ./images/blog/img2-mob2x.jpg 2x"
                            media="(max-width:767px)"
                            >
                            <img class="entry-pic" src="./images/blog/img2-des.jpg" alt="img2">
                            </picture>  
                        </div>
                    </div>
                    <div class="entry-block-about">
                        <h3 class="entry-author">By Gab L</h3>
                        <p class="entry-date">Updated on September 10, 2022</p>
                    </div>
                    <div class="entry-block-text">
                        <p class="entry-summary">An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...</p>
                        <a class="link entry-link" rel="stylesheet" href="#" >Learn more</a>
                    </div>
                </article>
            </li>
            <li class="blog-item">
                <article class="entry" >
                    <div class="entry-block-top">
                        <h2 class="entry-title">How to Choose the Right Gaming Mouse</h2>
                        <div class="entry-img">
                            <picture>
                                <source 
                                srcset="
                                ./images/blog/img3-des.jpg 1x,
                                ./images/blog/img3-des2x.jpg 2x"
                                media="(min-width:1280px)"
                                > 
                                <source srcset="
                                ./images/blog/img3-tab.jpg 1x,
                                ./images/blog/img3-tab2x.jpg 2x" 
                                media="(min-width:768px)" 
                                >
                                <source
                                srcset="
                                ./images/blog/img3-mob.jpg 1x,
                                ./images/blog/img3-mob2x.jpg 2x"
                                media="(max-width:767px)"
                                >
                                <img class="entry-pic" src="./images/blog/img3-des.jpg" alt="img1">
                            </picture> 
                        </div>
                    </div>
                    <div class="entry-block-about">
                        <h3 class="entry-author">By Michael Crider</h3>
                        <p class="entry-date">Updated on September 2, 2022</p>
                    </div>
                    <div class="entry-block-text">
                        <p class="entry-summary">A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...</p>
                        <a class="link entry-link" rel="stylesheet" href="#">Learn more</a>
                    </div>
                </article>
            </li>
        </ul>      
        <div class="pages-nav-img">
            <div class="nav-img-active"> </div>
            <div class="nav-img"></div>
            <div class="nav-img"></div>
        </div>
        
    </div>
</section>