<section class="blog-section">
    <div class="container blog-container">
        <article class="entry" >
            <h2 class="entry-title">Guide to Picking The Right Gaming Headset</h2>
            <div class="entry-img">
                <picture>
                    <!-- <source
                    srcset="
                    ./images/blog/img1-des.jpg 1x,
                    ./images/blog/img1-des2x.jpg 2x,
                    "
                    media="(min-width:1280px)"
                    /> -->
                    <!-- <source srcset="
                    ./images/blog/img1-tab.jpg 1x,
                    ./images/blog/img1-tab2x.jpg 2x,
                    " 
                    media="(min-width:768px)" 
                    /> -->
                    <!-- <source
                    srcset="
                    ./images/blog/img1-mob.jpg 1x,
                    ./images/blog/img1-mob2x.jpg 2x,
                    "
                    media="(max-width:767px)"
                    /> -->
                    <img src="./images/blog/img1-des.jpg" alt="img1"/>
                </picture> 
            </div>
            <div class="entry-about">
                <h3 class="entry-author">By Ray Ian Ampoloquio</h3>
                <p class="entry-date">Updated on September 21, 2022</p>
            </div>
            <p class="entry-summary">Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...</p>
            <a class="entry-link" rel="stylesheet" href="#" alt="Learn more">Learn more</a>
        </article>
        <article class="entry" >
            <h2 class="entry-title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
            <div class="entry-img">
                <picture>
                    <!-- <source
                    srcset="
                    ./images/blog/img1-des.jpg 1x,
                    ./images/blog/img1-des2x.jpg 2x,
                    "
                    media="(min-width:1280px)"
                    /> -->
                    <!-- <source srcset="
                    ./images/blog/img1-tab.jpg 1x,
                    ./images/blog/img1-tab2x.jpg 2x,
                    " 
                    media="(min-width:768px)" 
                    /> -->
                    <!-- <source
                    srcset="
                    ./images/blog/img1-mob.jpg 1x,
                    ./images/blog/img1-mob2x.jpg 2x,
                    "
                    media="(max-width:767px)"
                    /> -->
                    <img src="./images/blog/img1-des.jpg" alt="img1"/>
                </picture> 
            </div>
            <div class="entry-about">
                <h3 class="entry-author">By Gab L</h3>
                <p class="entry-date">Updated on September 10, 2022</p>
            </div>
            <p class="entry-summary">An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...
                <a class="entry-link" rel="stylesheet" href="#" alt="Learn more">Learn more</a>
        </article>
        <article class="entry" >
            <h2 class="entry-title">How to Choose the Right Gaming Mouse</h2>
            <div class="entry-img">
                <picture>
                    <!-- <source
                    srcset="
                    ./images/blog/img1-des.jpg 1x,
                    ./images/blog/img1-des2x.jpg 2x,
                    "
                    media="(min-width:1280px)"
                    /> -->
                    <!-- <source srcset="
                    ./images/blog/img1-tab.jpg 1x,
                    ./images/blog/img1-tab2x.jpg 2x,
                    " 
                    media="(min-width:768px)" 
                    /> -->
                    <!-- <source
                    srcset="
                    ./images/blog/img1-mob.jpg 1x,
                    ./images/blog/img1-mob2x.jpg 2x,
                    "
                    media="(max-width:767px)"
                    /> -->
                    <img src="./images/blog/img1-des.jpg" alt="img1"/>
                </picture> 
            </div>
            <div class="entry-about">
                <h3 class="entry-author">By Michael Crider</h3>
                <p class="entry-date">Updated on September 2, 2022</p>
            </div>
            <p class="entry-summary">A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...
                <a class="entry-link" rel="stylesheet" href="#" alt="Learn more">Learn more</a>
        </article>
        <div class="blog-page-nav">
            <!-- active page icon(oval) and other icons(round)  -->
        </div>
        
    </div>
</section>