<section class="contatcts-page">
  <div class="container contacts-container">
    <div class="title-animation">
      <h1 class="contatcts-title animate__animated animate__flipInX">
        Сontacts
      </h1>
    </div>
    <picture>
      <source
        srcset="
          ./images/contacts/cont-bgi.jpg    1x,
          ./images/contacts/cont-bgi-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/contacts/cont-bgi-tab.jpg    1x,
          ./images/contacts/cont-bgi-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/contacts/cont-bgi-mob.jpg    1x,
          ./images/contacts/cont-bgi-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="contacts-img"
        src="./images/contacts/cont-bgi-mob.jpg"
        alt="img"
      />
    </picture>
    <div class="contacts-des-wrap">
      <div class="contacts-des-group">
        <p class="contatcs-info-text">
          In case of queries about order handling and/or delay, drop us an email
          at

          <span class="contatcs-info-link"
            ><a href="mailto:info@shopforgamers.com"
              >info@shopforgamers.com</a
            ></span
          >
        </p>

        <ul class="contacts-link contacts-container">
          <li class="contacts-item">
            <p class="contacts-item-title">Email</p>
            <a class="contacts-item-link" href="mailto:Sfg.info@gmail.com"
              >Sfg.info@gmail.com</a
            >
          </li>
          <li class="contacts-item">
            <p class="contacts-item-title">Phone number</p>
            <a class="contacts-item-link" href="tel:+380936432288"
              >+38 (093) 643 22 88</a
            >
            <a class="contacts-item-link" href="tel:+380503454423"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </div>
      <form class="contacts-form contacts-container">
        <h2 class="contacts-form-title">Contact us</h2>
        <label for=""></label>
        <input class="contacts-form-input" type="text" placeholder="Name" />
        <label for=""></label>
        <input
          class="contacts-form-input"
          type="email"
          name=""
          id=""
          placeholder="Email"
        />
        <label class="contacts-comment-title" for="">Leave your message</label>
        <textarea
          class="contacts-form-texterea"
          name="contacts-user-form"
          cols="30"
        ></textarea>
        <button
          type="button"
          class="btn btn-light contacts-form-btn"
          data-modal-open-contacts
        >
          Send
        </button>
      </form>
    </div>
    <div class="backdrop-contacts is-hidden" data-modal-contacts>
      <div class="modal-contacts">
        <button
          type="button"
          class="contacts-btn-close"
          data-modal-close-contacts
        >
          <svg class="icon-btn-close" width="15px" height="15px">
            <use href="./images/sprite/sprite.svg#icon-cross"></use>
          </svg>
        </button>
        <p class="contacts-text">
          Thank you <br />
          for your message! <br />
          We will contact you soon!
        </p>
        <a class="btn-contacts btn btn-dark" href="./index.html"
          >KEEP SHOPPING</a
        >
      </div>
    </div>
  </div>
</section>
