<footer>
  <section class="section footer">
    <div class="footer-logo">
      <h2><a href="" class="footer-logo-link">Shop for gamers</a></h2>
    </div>
    <div>
      <ul class="footer-page-list">
        <li class="footer-page-item">
          <a href="./accessories-page.html" class="footer-page-link"
            >Accessories</a
          >
        </li>
        <li class="footer-page-item">
          <a href="./take-order-page.html" class="footer-page-link"
            >Take order</a
          >
        </li>
        <li class="footer-page-item">
          <a href="./contacts-page.html" class="footer-page-link">Contact</a>
        </li>
        <li class="footer-page-item">
          <a href="./blog-page.html" class="footer-page-link">Blog</a>
        </li>
      </ul>
    </div>
    <div class="footer-logo">
      <ul class="logo-list">
        <li><a href="" class="logo-item"></a></li>
        <li><a href="" class="logo-item"></a></li>
        <li><a href="" class="logo-item"></a></li>
      </ul>
    </div>
    <div>
      <address>
        <p>Email</p>
        <ul>
          <li><a href="mailto:sfg.info@gmail.com">sfg.info@gmail.com</a></li>
        </ul>
        <p>Phone number</p>
        <ul>
          <li><a href="tel:+380936432288">+38 (093) 643 22 88</a></li>
          <li><a href="tel:+380503454423">+38 (050) 345 44 23</a></li>
        </ul>
      </address>
    </div>
  </section>
</footer>
