<footer>
  <section class="section footer">
    <div class="container footer-container">
      <h1 class="visually-hidden">footer</h1>
      <a href="" class="footer-logo-link">Shop for gamers</a>
      <div class="icon-thumb">
        <div class="footer-page">
          <ul class="footer-page-list">
            <li class="footer-page-item">
              <a href="./accessories-page.html" class="footer-page-link"
                >Accessories</a
              >
            </li>
            <li class="footer-page-item">
              <a href="./take-order-page.html" class="footer-page-link"
                >Take order</a
              >
            </li>
            <li class="footer-page-item">
              <a href="./contacts-page.html" class="footer-page-link"
                >Contact</a
              >
            </li>
            <li class="footer-page-item">
              <a href="./blog-page.html" class="footer-page-link">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer-icon">
          <ul class="icon-list">
            <li class="icon-item">
              <a href="" class="icon-link">
                <svg width="24" height="24">
                  <use
                    href="./images/sprite/sprite.svg#icon-instagramm"
                  ></use></svg
              ></a>
            </li>
            <li class="icon-item">
              <a href="" class="icon-link">
                <svg width="24" height="24">
                  <use
                    href="./images/sprite/sprite.svg#icon-youtube"
                  ></use></svg
              ></a>
            </li>
            <li class="icon-item">
              <a href="" class="icon-link">
                <svg width="24" height="24">
                  <use
                    href="./images/sprite/sprite.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <address>
          <p class="adress-text mail">Email</p>
          <ul class="mail-list">
            <li>
              <a href="mailto:sfg.info@gmail.com" class="adress-link"
                >Sfg.info@gmail.com</a
              >
            </li>
          </ul>
          <p class="adress-text phone">Phone number</p>
          <ul class="phone-list">
            <li>
              <a href="tel:+380936432288" class="adress-link"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li>
              <a href="tel:+380503454423" class="adress-link"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </section>
</footer>
