<section class="gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title visually-hidden">Galery</h2>
    <div class="gallery-slider"></div>
    <div class="gallery-banner">
      <picture>
        <source
          srcset="
            ./images/gallery/gallery1_tablet-1x.jpeg 1x,
            ./images/gallery/gallery1_tablet-2x.jpeg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/gallery1_mob-1x.jpeg 1x,
            ./images/gallery/gallery1_mob-2x.jpeg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-image"
          src="./images/gallery/gallery1_mob-1x.jpeg"
          alt="Клавіатура з геймпадом"
          width="450"
        />
      </picture>
      <p class="galery-text-place">One place for everything you want</p>
    </div>
    <div class="gallery-pagination">
      <div class="gallery-pagination-active"></div>
      <div class="gallery-pagination-img"></div>
      <div class="gallery-pagination-img"></div>
    </div>
  </div>
</section>
