<section class="gallery-section">
  <div class="container gallery-container">
    <h2 class="visually-hidden">Galery</h2>
    <div class="gallery-slider one-time">
      <div class="gallery-banner">
        <picture>
          <source
            srcset="
              ./images/gallery/img1-des.jpg   1x,
              ./images/gallery/img1-desx2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img1-tab.jpg   1x,
              ./images/gallery/img1-tabx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img1-mob.jpg   1x,
              ./images/gallery/img1-mobx2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-image"
            src="./images/gallery/img1-des.jpg"
            alt="Клавіатура з геймпадом"
          />
        </picture>

        <div class="gallery-thumb">
          <p class="gallery-text-top">One place for everything you want</p>
        </div>
      </div>

      <div class="gallery-banner">
        <picture>
          <source
            srcset="
              ./images/gallery/img2-des.jpg   1x,
              ./images/gallery/img2-desx2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img2-tab.jpg   1x,
              ./images/gallery/img2-tabx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img2-mob.jpg   1x,
              ./images/gallery/img2-mobx2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-image"
            src="./images/gallery/img2-des.jpg"
            alt="Клавіатура з геймпадом"
          />
        </picture>

        <div class="gallery-thumb gallery-thumb">
          <p class="gallery-text-center">
            Best shop for buying gaming products
          </p>
        </div>
      </div>

      <div class="gallery-banner">
        <picture>
          <source
            srcset="
              ./images/gallery/img3-des.jpg   1x,
              ./images/gallery/img3-desx2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img3-tab.jpg   1x,
              ./images/gallery/img3-tabx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img3-mob.jpg   1x,
              ./images/gallery/img3-mobx2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery-image"
            src="./images/gallery/img3-des.jpg"
            alt="Клавіатура з геймпадом"
          />
        </picture>

        <div class="gallery-thumb gallery-thumb-bottom">
          <p class="gallery-text-bottom">
            High-quality products in lowest price
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="gallery-pagination">
      <div class="gallery-pagination-active"></div>
      <div class="gallery-pagination-img"></div>
      <div class="gallery-pagination-img"></div>
    </div> -->
  </div>
</section>
