<section class="sale">
  <div class="container container-sale">
    <h2 class="sale-title">Sale</h2>

    <ul class="sale-list list">
      <li class="sale-item">
        <a class="sale-link link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/img1-des.jpg   1x,
                  ./images/sale/img1-desx2.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sale/img1-tab.jpg   1x,
                  ./images/sale/img1-tabx2.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/img1-mob.jpg   1x,
                  ./images/sale/img1-mobx2.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./images/sale/img1-des.jpg,
                  ./images/sale/img1-desx2.jpg"
                src="./images/sale/img1-des.jpg"
                alt="accessories"
                width="285"
              />
            </picture>

            <div class="sale-thumb">
              <h3 class="sale-subtitle">Xiberia K9 PRO PC Headset</h3>
              <div class="sale-desk">
                <p class="sale-text">65.14 USD</p>
                <p class="sale-price">55.14 USD</p>
              </div>
            </div>
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link link" href="">
            <source
                srcset="
                  ./images/sale/img5-des.jpg   1x,
                  ./images/sale/img5-desx2.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sale/img3-tab.jpg   1x,
                  ./images/sale/img3-tabx2.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/img2-mob.jpg   1x,
                  ./images/sale/img2-mobx2.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./images/sale/img5-des.jpg,
                  ./images/sale/img5-desx2.jpg"
                src="./images/sale/img5-des.jpg"
                alt="accessories"
                width="285"
              />
            </picture>
            <div class="sale-thumb">
              <h3 class="sale-subtitle">RGB LED Backlit Mechanical Keyboard</h3>
              <div class="sale-desk">
                <p class="sale-text">156.00 USD</p>
                <p class="sale-price">116.00 USD</p>
              </div>
            </div>
            
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link link" href="">
          
            <source
                srcset="
                  ./images/sale/img3-des.jpg   1x,
                  ./images/sale/img3-desx2.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sale/img5-tab.jpg   1x,
                  ./images/sale/img5-tabx2.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/img3-mob.jpg   1x,
                  ./images/sale/img3-mobx2.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./images/sale/img3-des.jpg,
                  ./images/sale/img3-desx2.jpg"
                src="./images/sale/img3-des.jpg"
                alt="accessories"
                width="285"
              />
            </picture>
            <div class="sale-thumb">
              <h3 class="sale-subtitle">G95 Light Surround Gaming Headset</h3>
              <div class="sale-desk">
                <p class="sale-text">78.98 USD</p>
                <p class="sale-price">50.98 USD</p>
              </div>
            </div>
            
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link link" href="">
          
            <source
                srcset="
                  ./images/sale/img7-des.jpg   1x,
                  ./images/sale/img7-desx2.jpg 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sale/img7-tab.jpg   1x,
                  ./images/sale/img7-tabx2.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/img4-mob.jpg   1x,
                  ./images/sale/img4-mobx2.jpg 2x"
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  ./images/sale/img7-des.jpg,
                  ./images/sale/img7-desx2.jpg"
                src="./images/sale/img7-des.jpg"
                alt="accessories"
                width="285"
              />
            </picture>
            <div class="sale-thumb">
              <h3 class="sale-subtitle">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
              </h3>
              <div class="sale-desk">
                <p class="sale-text">44.24 USD</p>
                <p class="sale-price">29.93 USD</p>
              </div>   
            </div>
        </a>
      </li>
    </ul>
    <button type="button" class="sale-btn">View all</button>
  </div>
</section>
