<section class="take-order section">
  <div class="take-order-container container">
    <h2 class="order-title animate__animated animate__flipInX">Take order</h2>

    <div class="product">
      <h3 class="order-subtitle order-caption">Xiberia K9 PRO PC Headset</h3>
      <div class="headphones">
        <div class="top-order-accessories">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones1d-1x.jpg 1x,
                ./images/take_order_page/headphones1d-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones1m-1x.jpg 1x,
                ./images/take_order_page/headphones1m-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones1m-1x.jpg 1x,
                ./images/take_order_page/headphones1m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="radius"
              src="./images/take_order_page/headphones1d-1x.jpg"
              alt="headphones"
              width="387"
            />
          </picture>
        </div>
        <div class="price-order">
          <h3 class="order-subtitle">Xiberia K9 PRO PC Headset</h3>
          <ul class="price-list-order list">
            <li class="price-item-order"><p class="price-text-primary">65.14 USD</p></li>
            <li class="price-item-order"><p class="price-text-secondary">55.14 USD</p></li>
          </ul>
          
        </div>
      </div>

      <div class="button-order-accessories">
        <ul class="order-list list">
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones2d-1x.jpg 1x,
                  ./images/take_order_page/headphones2d-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones2d-1x.jpg 1x,
                  ./images/take_order_page/headphones2d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones2m-1x.jpg 1x,
                  ./images/take_order_page/headphones2m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones2d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones3d-1x.jpg 1x,
                  ./images/take_order_page/headphones3d-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones3d-1x.jpg 1x,
                  ./images/take_order_page/headphones3d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones3m-1x.jpg 1x,
                  ./images/take_order_page/headphones3m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones3d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones4d-1x.jpg 1x,
                  ./images/take_order_page/headphones4d-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones4d-1x.jpg 1x,
                  ./images/take_order_page/headphones4d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones4m-1x.jpg 1x,
                  ./images/take_order_page/headphones4m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones4d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones5d-1x.jpg 1x,
                  ./images/take_order_page/headphones5d-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones5d-1x.jpg 1x,
                  ./images/take_order_page/headphones5d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones5m-1x.jpg 1x,
                  ./images/take_order_page/headphones5m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones5d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="about">
      <div class="other-form">
        <form class="form-order">
        <p class="form-order-text">CONTACT US</p>

          <input
            type="name"
            class="order-input"
            name="name"
            placeholder="Name"
            pattern="[A-Za-z0-9]"
          />
          <input
            type="email"
            class="order-input"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            placeholder="Email"
          />
        
          <!-- <div class="order-select-wrap">
            <select class="order-select" id="color" name="color">
              <option class="order-option" disabled="disabled" selected="selected">Color option</option>
              <option class="order-option" value="K9D Black Orange">K9D Black Orange</option>
              <option class="order-option" value="K9D Silver Gray">K9D Silver Gray</option>
              <option class="order-option" value="K9U White Blue">K9U White Blue</option>
            </select>
          </div> -->
          <div class="order-select" data-state="">
            <div class="order-select-title" data-default="Option 0">Color option</div>
            <div class="order-select-content">
              <input id="singleSelect0" class="order-select-input" type="radio" name="singleSelect" checked />
              <label for="singleSelect0" class="order-select-label">Color option</label>
              <input id="singleSelect1" class="order-select-input" type="radio" name="singleSelect" />
              <label for="singleSelect1" class="order-select-label">K9D Black Orange</label>
              <input id="singleSelect2" class="order-select-input" type="radio" name="singleSelect" />
              <label for="singleSelect2" class="order-select-label">K9D Silver Gray</label>
              <input id="singleSelect3" class="order-select-input" type="radio" name="singleSelect" />
              <label for="singleSelect3" class="order-select-label">K9U White Blue</label>
            </div>
          </div>

          <div class="order-input-wrap">
            <input
              type="quantity"
              class="order-input"
              name="quantity"
              id="quantity"
              placeholder="Quantity"
            />
          </div>
          <!-- <select id="quantity" name="quantity">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> -->

          <div class="order-input-wrap">
            <input
              type="payment"
              class="order-input"
              name="payment"
              id="payment"
              placeholder="Payment"
            />
          </div>
          <!-- <select id="payment" name="payment">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> -->
          </div>

          <div class="other-coments">
            <label class="form-coments-order" for="coments-order"
              >Leave your message</label
            >
            <textarea
              name="coments-order"
              id="coments-order"
              class="coments-order-textarea"
              cols=""
              rows="10"
            ></textarea>
          </div>
        </form>
      </div>

      <div class="btn-form">
        <button type="button" class="btn-order-top btn btn-dark" data-modal-open-order>
          BUY IT NOW
        </button>

        <button type="button" class="btn-order-bottom btn btn-light" data-modal-open-cart>ADD TO CART</button>
      </div>

      <div class="backdrop is-hidden" data-modal-order>
        <div class="modal-order">
            <button type="button" class="menu-btn-cross" data-modal-close-order>
              <svg  class="icon-btn-cross" width="15px" height="15px">
                <use
                  href="./images/sprite/sprite.svg#icon-cross"
                ></use>
              </svg>
            </button>
             <p class="modal-text">Thank you <br> for your order! <br> We will contact you soon!</p>
            <a class="btn-order btn btn-dark" href="./accessories-page.html">KEEP SHOPPING</a>
      </div>
      </div>

      <div class="backdrop is-hidden" data-modal-cart>
        <div class="modal-cart">
            <button type="button"  class="menu-btn-cross" data-modal-close-cart>
              <svg class="icon-btn-cross" width="15px" height="15px">
                <use
                  href="./images/sprite/sprite.svg#icon-cross"
                ></use>
              </svg>
            </button>
            <p class="modal-text">Excellent choice! Let's move on to the checkout!</p>
            <a class="btn-order btn btn-dark" href="./index.html">LET'S GO!</a>
      </div>
      </div>
    
  </div>
  
</section>


