<section class="take-order section">
  <div class="container">
    <h2 class="order-title">Take order</h2>
  </div>
  <!-- <svg class="line" width="" height="">
                        <use href="/></use>
                      </svg>
                      <svg class="team-soc-icon" width="" height="">
                        <use href="/></use>
                      </svg> -->
  <div class="top-order-accessories">
    <p class="order-text">Xiberia K9 PRO PC Headset</p>
    <picture>
      <source
        srcset="
          ./images/take_order_page/headphones1d-1x.jpg 1x,
          ./images/take_order_page/headphones1d-2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/take_order_page/headphones1m-1x.jpg 1x,
          ./images/take_order_page/headphones1m-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/take_order_page/headphones1m-1x.jpg 1x,
          ./images/take_order_page/headphones1m-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/take_order_page/headphones1d-1x.jpg"
        alt="headphones"
        width="387"
      />
    </picture>

    <div class="price-order">
        <p class="price-text-order">55.14 USD</p>
        <p class="price-text-order">65.14 USD</p>
    </div>
      

    <div class="button-order-accessories">
      <ul class="order-list">
        <li class="order-item">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones2d-1x.jpg 1x,
                ./images/take_order_page/headphones2d-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones2d-1x.jpg 1x,
                ./images/take_order_page/headphones2d-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones2m-1x.jpg 1x,
                ./images/take_order_page/headphones2m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/take_order_page/headphones2d-1x.jpg"
              alt="headphones"
              width="155"
            />
          </picture>
        </li>
        <li class="order-item">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones3d-1x.jpg 1x,
                ./images/take_order_page/headphones3d-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones3d-1x.jpg 1x,
                ./images/take_order_page/headphones3d-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones3m-1x.jpg 1x,
                ./images/take_order_page/headphones3m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/take_order_page/headphones3d-1x.jpg"
              alt="headphones"
              width="155"
            />
          </picture>
        </li>
        <li class="order-item">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones4d-1x.jpg 1x,
                ./images/take_order_page/headphones4d-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones4d-1x.jpg 1x,
                ./images/take_order_page/headphones4d-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones4m-1x.jpg 1x,
                ./images/take_order_page/headphones4m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/take_order_page/headphones4d-1x.jpg"
              alt="headphones"
              width="155"
            />
          </picture>
        </li>
        <li class="order-item">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones5d-1x.jpg 1x,
                ./images/take_order_page/headphones5d-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones5d-1x.jpg 1x,
                ./images/take_order_page/headphones5d-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones5m-1x.jpg 1x,
                ./images/take_order_page/headphones5m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/take_order_page/headphones5d-1x.jpg"
              alt="headphones"
              width="155"
            />
          </picture>
        </li>
      </ul>
    </div>

    <p class="feedback-text">CONTACT US</p>
    <form class="form-order">
      <div class="name-order">
        <label for="name" class="form-label">Name</label>
        <div class="input-wrap">
          <input
            type="name"
            class="order-input"
            name="name"
            id="name"
            pattern="[A-Za-z0-9]"
            title="Name має містити латинські символи."
          />
        </div>
      </div>

      <div class="email-order">
        <div class="name-order">
          <label for="email" class="form-label">Email</label>
          <div class="input-wrap">
            <input
              type="email"
              class="order-input"
              name="email"
              id="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              title="Адреса електроної скриньки має містити символ @."
            />
          </div>
        </div>

        <div class="select-order-color">
          <label for="color">Color option</label>
          <input
            type="color-option"
            class="select-input"
            name="color-option"
            id="color-option"
          />
          <select id="color" name="color">
            <option value="K9D Black Orange">K9D Black Orange</option>
            <option value="K9D Silver Gray">K9D Silver Gray</option>
            <option value="K9U White Blue">K9U White Blue</option>
          </select>
        </div>
        <div class="select-order-quantity">
          <label for="quantity">Quantity</label>
          <input
            type="quantity"
            class="select-input"
            name="quantity"
            id="quantity"
          />
          <select id="quantity" name="quantity">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div class="select-order-payment">
          <label for="payment">Payment</label>
          <input
            type="payment"
            class="select-input"
            name="payment"
            id="payment"
          />
          <select id="payment" name="payment">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>

        <div class="textarea-order">
          <label for="coments-order" class="form-label"
            >Leave your message</label
          >
          <textarea
            name="coments-order"
            id="coments-order"
            class="coments-order"
            cols=""
            rows=""
          ></textarea>
        </div>

        <button type="submit" class="btn-order">BUY IT NOW</button>
        <button type="submit" class="btn-order">ADD TO CART</button>

        <div class="modal-order-buy">
          <div class="container">
            <div class="mob-order-top">
              <button type="button" class="menu-btn-cross">
                <svg width="40px" height="40px">
                  <use
                    class="icon-cross-order"
                    href="./images/sprite/sprite.svg#icon-cross"
                  ></use>
                </svg>
              </button>
            </div>
            <div class="modal-order-bottom">
              <p>Thank you for your order! We will contact you soon!</p>
              <button type="submit" class="btn-order">KEEP SHOPPING</button>
            </div>
          </div>
        </div>

        <div class="modal-order-add">
          <div class="container">
            <div class="mob-order-top">
              <button type="button" class="menu-btn-cross">
                <svg width="40px" height="40px">
                  <use
                    class="icon-cross"
                    href="./images/sprite/sprite.svg#icon-cross"
                  ></use>
                </svg>
              </button>
              <p>Excellent choice! Let's move on to the checkout!</p>
              <button type="submit" class="btn-order">LET'S GO!</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
