<section class="take-order section">
  <div class="container">
    <h2 class="order-title">Take order</h2>

    <div class="product">
      <p class="order-text">Xiberia K9 PRO PC Headset</p>
      <div class="headphones">
        <div class="top-order-accessories">
          <picture>
            <source
              srcset="
                ./images/take_order_page/headphones1d-1x.jpg 1x,
                ./images/take_order_page/headphones1d-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones1m-1x.jpg 1x,
                ./images/take_order_page/headphones1m-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take_order_page/headphones1m-1x.jpg 1x,
                ./images/take_order_page/headphones1m-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="radius"
              src="./images/take_order_page/headphones1d-1x.jpg"
              alt="headphones"
              width="387"
            />
          </picture>
        </div>



        <div class="price-order">
          <p class="price-text-primary">65.14 USD</p>
          <p class="price-text-secondary">55.14 USD</p>
        </div>
      </div>

      <div class="button-order-accessories">
        <ul class="order-list list">
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones2d-1x.jpg 1x,
                  ./images/take_order_page/headphones2d-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones2d-1x.jpg 1x,
                  ./images/take_order_page/headphones2d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones2m-1x.jpg 1x,
                  ./images/take_order_page/headphones2m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones2d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones3d-1x.jpg 1x,
                  ./images/take_order_page/headphones3d-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones3d-1x.jpg 1x,
                  ./images/take_order_page/headphones3d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones3m-1x.jpg 1x,
                  ./images/take_order_page/headphones3m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones3d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones4d-1x.jpg 1x,
                  ./images/take_order_page/headphones4d-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones4d-1x.jpg 1x,
                  ./images/take_order_page/headphones4d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones4m-1x.jpg 1x,
                  ./images/take_order_page/headphones4m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones4d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  ./images/take_order_page/headphones5d-1x.jpg 1x,
                  ./images/take_order_page/headphones5d-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones5d-1x.jpg 1x,
                  ./images/take_order_page/headphones5d-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take_order_page/headphones5m-1x.jpg 1x,
                  ./images/take_order_page/headphones5m-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="radius"
                src="./images/take_order_page/headphones5d-1x.jpg"
                alt="headphones"
                width="155"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="other-form">
        <form class="form-order">
          <p class="form-order-text">CONTACT US</p>

          <input
            type="name"
            class="order-input"
            name="name"
            placeholder="Name"
            pattern="[A-Za-z0-9]"
          />
          <input
            type="email"
            class="order-input"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            placeholder="Email"
          />
          <input
            type="color-option"
            class="order-input"
            name="color-option"
            id="color-option"
            placeholder="Color option"
          />
          <!-- <select id="color" name="color">
            <option  value="K9D Black Orange">K9D Black Orange</option>
            <option value="K9D Silver Gray">K9D Silver Gray</option>
            <option value="K9U White Blue">K9U White Blue</option>
          </select> -->

          <input
            type="quantity"
            class="order-input"
            name="quantity"
            id="quantity"
            placeholder="Quantity"
          />
          <!-- <select id="quantity" name="quantity">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> -->

          <input
            type="payment"
            class="order-input"
            name="payment"
            id="payment"
            placeholder="Payment"
          />
          <!-- <select id="payment" name="payment">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> -->
          </div>

          <div class="other-coments">
            <label class="form-coments-order" for="coments-order"
              >Leave your message</label
            >
            <textarea
              name="coments-order"
              id="coments-order"
              class="coments-order-textarea"
              cols=""
              rows="10"
            ></textarea>
          </div>
        </form>
      </div>

      <div class="btn-form">
        <button type="submit" class="btn-order-top" data-modal-open>
          BUY IT NOW
        </button>
        <button type="submit" class="btn-order-bottom">ADD TO CART</button>
      </div>

      <div class="modal-order-bottom">
        <p>Thank you for your order! We will contact you soon!</p>
        <button type="submit" class="btn-order">KEEP SHOPPING</button>
      </div>
    </div>

    <div class="modal-order-add">
      <div class="container">
        <div class="mob-order-top">
          <button type="button" class="menu-btn-cross">
            <svg width="40px" height="40px">
              <use
                class="icon-cross"
                href="./images/sprite/sprite.svg#icon-cross"
              ></use>
            </svg>
          </button>
          <p>Excellent choice! Let's move on to the checkout!</p>
          <button type="submit" class="btn-order">LET'S GO!</button>
        </div>
      </div>
    </div>
  </div>
</section>
