.btn {
    display: block;
    min-width: 173px;
    min-height: 51px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    text-transform: uppercase;
    border-radius: 16px;
    border: transparent;
    cursor: pointer;

    @include tablet {
        min-width: 306px;
        min-height: 70px;
        font-size: 32px;
    }
}

.btn-color {
    color: var(--primary-bg-color);
    background-color: var(--accent);
}

.btn-transparent {
    color: var(--accent);
    background-color: transparent;
    border: 1px solid var(--accent);
}