.section.accessories{
  @media screen and (min-width: 320px) {
    background-color:var(--primary-bg-color);
    background-image: url(../images/accessories/accessories-bg-mob.jpg);
      background-repeat: no-repeat;
      background-position: 62px -120px;
      background-size: cover;
       @include retina {
          background-image: url(../images/accessories/accessories-bg-mob@2x.jpg);
      }
  }
    @include tablet {
          background-image: url(../images/accessories/accessories-bg-tab.jpg);
          background-repeat: no-repeat;
          background-position: 55px -160px ;
          background-size: contain;
          @include retina {
              background-image: url(../images/accessories/accessories-bg-tab@2x.jpg);
          }
      }  
      @include desktop {
          background-image: url(../images/accessories/accessories-bg-desk.jpg);
          background-repeat: no-repeat;
          background-position: -70px -115px;
          background-size: cover;
          @include retina {
              background-image: url(../images/accessories/accessories-bg-desk@2x.jpg);
          }
      }
  }

.section.accessories {
  // background-color: #01383a;
  padding: 40px 0;
  @include tablet {
    padding: 120px 0;
  }
  @include desktop {
    padding: 120px 0;
  }
}

.container.btn {
  @include tablet {
    padding: 0 40px;
  }
  @include desktop {
    padding: 0 238px;
  }
}


.btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 32px;
  width: 272px;
  @include tablet {
    gap: 53px;
    margin-bottom: 72px;
    width: 100%;
  }
  @include desktop {
    gap: 44px;
    margin-bottom: 72px;
  }
}

.btn-item {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  width: 124px;
  height: 35px;
  padding: 8px 0;
  color: var(--accent);
  background-color: inherit;

  cursor: pointer;
  border: solid 1px var(--accent);
  border-radius: 16px;
  border-color: var(--accent);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent);
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
     0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  @include tablet {
    min-width: 132px;
    height: 51px;
  }

  @include desktop {
    min-width: 168px;
    height: 51px;
  }
}

.container.accessories {
  padding: 0 16px;
  @include mobile {
    max-width: 480px;
    padding: 0 16px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 80px;
  }
  @include desktop {
    max-width: 1280px;
    padding: 0 40px;
  }
}

.accessories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  @include tablet {
    column-gap: 38px;
    row-gap: 44px;
  }
  @include desktop {
    column-gap: 20px;
    row-gap: 44px;
    margin-bottom: 52px;
  }
}

.accessories-title {
  font-size: 28px;
  line-height: 1.16;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 27px;
  @include mobile{
  
  }
  @include tablet {
    font-size: 56px;
    line-height: 1.17;
    margin-bottom: 51px;
    padding-left: 62px;
  }
  @include desktop {
    font-size: 56px;
    line-height: 1.17;
    padding-left: 102px;
    margin-bottom: 51px;
  }
}

.accessories-item {
  max-width: 285px;
  height: auto;
  margin: 0 auto;
  @include tablet {
    max-width: 285px;
    width: calc((100% - 38px) / 2);
  }

  @include desktop {
    max-width: 285px;
    width: calc((100% - 20px) / 4);
  }
}

.accessories-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  border: solid 1px var(--accent);
  border-radius: 12px;
  margin-bottom: 8px;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.accessories-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-text-color);
  line-height: 1.14;
  background-color: var(--primary-bg-color);
  padding: 16px 16px;
  height: 100%;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .accessories-item:hover & {
    transform: translateY(0);
  }
}

.accessories-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 8px;
}

.accessories-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--accent);
  line-height: 1.18;
  margin-bottom: 11px;
}

.accessories-desk {
  display: flex;
  align-items: center;
}

.accessories-price {
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: line-through;
  color: var(--contacts-color);
}

.accessories-sale {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent);
  margin-left: 80px;
}

.page-desk {
  display: none;
  @include desktop {
    display: block;
  }
}

.page-tablet {
  @media screen and (min-width:320px) {
    display: none;   
     }
  @include mobile {
    display: none;
  }

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.page-mob {
  @include mobile {
    display: block;
  }
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

