.blog-section{
    background-color: var(--primary-bg-color);
    
    width: 100%;
    padding: 20px 0 48px 0;
    @include tablet{
        padding: 40px 0 120px 0;
    }
    @include desktop{
        padding: 48px 0 184px 0;
    }
}

.blog-container{
    padding: 0 16px;

    @include tablet{
        padding-left: 40px;
        padding-right: 40px;
    }
}

.blog-list{
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 24;
    margin-bottom: 48px;

    @include tablet{
        gap: 40px;
        margin-bottom: 43px;
    }
    @include desktop{
        margin-bottom: 48px;
    }

}


.entry{
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include tablet{
        gap: 16px;
    }
}

.entry-block-top{
    display: flex;
    flex-direction: column;
    gap: 16px;

    
}

.entry-block-about{
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include tablet{
        // gap: 31px;
        // align-items: flex-end;
        display: block;
        width: 261px;

        position: absolute;
        top: 0;
        right: 0;
    }
}

.entry-block-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include tablet{
        gap: 16px;
    }
}

.entry-title{
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;


    color: var(--primary-text-color);
    @include mobile{
        width: 288px;

        
    }
    @include tablet{
        width: 688px;

        font-size: 56px;
        line-height: 1;

    }
    @include desktop{
        width: 1196px;
    }
}

.entry-img{
    width: 100%;
    position: relative;
    @include mobile{
        width:320px;
        margin: 0 -16px; 
    }
    @include tablet{
        margin: 0 40px 0 0;
        width: 387px;
        
    }
    
}

.entry-pic{
    width: 100%;
    @include tablet{
        border-radius: 14px;     
    }
}


.entry-author, .entry-date, .entry-link{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--primary-text-color);

    @include tablet{
        font-size: 24px;
    }
}

.entry-author, .entry-date{
    @include tablet{
    display: inline-block;
    width: 261px;

    text-align: left;
    }
    
}

.entry-author{
    @include tablet{
        margin-bottom: 31px;
    }
}

.entry-date{
    color: var(--contacts-color);
}


.entry-summary{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: var(--primary-text-color);

    @include tablet{
        font-size: 24px;
        line-height: 1.16;
    }
}

.entry-link{
    color: var(--accent);
    display: block;
    margin-left: auto;
}

.pages-nav-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.nav-img, .nav-img-active{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--primary-text-color);
    border-radius: 8px;
}

.nav-img-active{
    width: 40px;
}

