.blog-section{
    background-color: var(--primary-bg-color);
    
    width: 100%;
    padding: 20px 0 112px 0;
    @include tablet{
        padding: 40px 0 179px 0;
    }
    @include desktop{
        padding: 48px 0 184px 0;
    }
}

.blog-container{
    border: 1px solid red;

    @include tablet{
        padding-left: 40px;
        padding-right: 40px;
    }
}


.entry{
    width: 100%;
    margin-bottom: 24px;
}

.entry-title{
    width: 100%;
    margin-bottom: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;


    color: var(--primary-text-color);
    @include mobile{
        width: 288px;

        
    }
    @include tablet{
        width: 688px;

        font-size: 56px;
        line-height: 1;
    }
    @include desktop{
        width: 1196px;
    }
}

.entry-img{
    margin-bottom: 8px;
}


.entry-author, .enetry-about, .entry-link{
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--primary-text-color);

    @include tablet{
        font-size: 24px;
    }
}

.entry-about{
    color: var(--contacts-color);
}

.entry-summary{
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;

    color: var(--primary-text-color);
}

.entry-link{
    color: var(--accent);
}