.acritle {
    background-color: var(--primary-bg-color);

    @media screen and (min-width: 320px) {
        padding: 40px 0 48px 0;
        background-image: url(../images/blog-article/line-mob.png);
        background-repeat: no-repeat;
        background-position: -1px 77px;
        background-size: contain;
    }

    @include mobile {
        padding: 40px 0 48px 0;
        background-image: url(../images/blog-article/line-mob.png);
        background-repeat: no-repeat;
        background-position: -1px 55px;
        background-size: contain;
    }

    @include tablet {
        padding: 120px 0 120px 0;

        background-image: url(../images/blog-article/line-tab.png);
        background-repeat: no-repeat;
        background-position: 2px 235px;
        background-size: contain;
    }

    @include desktop {
        margin: 0;
        padding: 112px 0 120px 0;

        background-image: url(../images/blog-article/line-des.png);
        background-repeat: no-repeat;
        background-position: -1px 175px;
        background-size: contain;
    }
}


.article-container {
    @media screen and (min-width: 320px) {
        padding: 0 16px;
    }

    @include tablet {
        padding: 0 40px;
    }
}

.main-picture {
    @media screen and (max-width: 480px) {
        margin: 0 -16px;
    }

    @include mobile {
        width: 320px;
        margin: 0 auto;
    }

    @include tablet {
        width: 387px;
        margin: 0;
    }

    @include desktop {
        width: 100%;
        margin: 0;
    }
}

.main-picture img {
    @include mobile {
        border-radius: 12px;
    }
}

.article-title {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 31px;

    @media screen and (min-width: 320px) {
        min-width: 291px;
        font-size: 23px;
    }
    
    @media screen and (max-width: 480px) {
        min-width: 291px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @include tablet {
        font-size: 56px;
        margin-bottom: 72px;
        line-height: 1;
    }

    @include desktop {
        font-size: 56px;
        margin-bottom: 59px;
    } 
}

.article-image-container {
    @include desktop {
        display: flex;
        align-items: end;
        margin-bottom: 48px;
    }
}

.article-image-container-tablet {
    @include tablet { 
        display: flex;
        margin-bottom: 16px;
    }

    @include desktop {        
        margin-right: 121px;
        margin-bottom: 0;
    }
}

.text-container {
    display: flex;
    flex-direction: column;

    @include mobile {
        font-size: 16px; 
    }

    @include tablet {
        margin-bottom: 20px;
        font-size: 24px;
    }

    @include desktop {
        margin-bottom: 0;
        width: 690px;
        font-size: 24px; 
    }
}

.text-list {

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
}

.first-text-tablet  {
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
        margin-bottom: 8px;
    }

    @include tablet {
        margin: 0;
        padding-top: 93px;
        margin-left: 40px;
        width: 261px;
    }

    @include desktop { 
        display: none;
    }
}

.first-text {
    display: none;

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include desktop {
        display: flex;
        gap: 97px;
        justify-content: flex-end;
        margin-bottom: 24px
    }
}

.who-write {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1;
    color: var(--primary-text-color);

    @include mobile {
        font-size: 16px;
    }

    @include tablet {
        width: 235px;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 24px;
        color: var(--accent);
    }
    
    @include desktop {
        width: 250px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 24px;
        color: var(--accent);
    }
}

.when-write {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1;
    color: var(--contacts-color);

    @include mobile {
        font-size: 16px;
    }

    @include tablet {
        font-weight: 500;
        font-size: 24px;
    }
}

.what-write {
    color: var(--primary-text-color);
    font-weight: 400;
        
    @include mobile {
        font-size: 16px;
        line-height: 1.19;
    }
        
    @include tablet {
        font-size: 24px;
        line-height: 1.17;
    }         
}

.second-list {
    @media screen and (max-width: 767px) {
        padding-left: 30px;
        margin: 0 0 20px 0;
    }

    @include tablet {
        padding-left: 30px;
        margin: 0 0 20px 0;
    }
}

.second-desc {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }
    
}

.second-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    @include mobile {
        font-size: 16px;
    }

    @include tablet {
        font-size: 24px;
        line-height: 1.17;
        color: var(--accent);
        margin: 0;            
    }
             
}

 .last-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {
        font-size: 16px;
    }

    @include tablet {
        margin-top: 20px;
    }

}

.last-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: var(--primary-text-color);}
       
.last-text-tablet {
    @include desktop {
        display: none;
    }
}

    