.contatcts-page {
    padding-top: 224px;
    padding-bottom: 120px;
    background-image: url(../images/contacts/bgi-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/contacts/bgi-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/contacts/bgi-tab.jpg);
        min-width: 768px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/contacts/bgi-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../images/contacts/bgi-des.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/contacts/bgi-des-2x.jpg);
        }
    }
}

.contatcts-title{
    margin-left: 16px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;
    @include tablet {
        margin-bottom: 67px;
        margin-left: 99px;
        font-weight: 500;
        font-size: 56px;
        line-height: 1.17;
        color: #FFFFFF;
    }
    @include desktop {
        margin-bottom: 75px;
    }
}

.contacts-img{
    width: 480px;
    margin-bottom: 16px;
    @include tablet {
        width: 688px;
        height: 346px;
        border-radius: 13px;
    }

    @include desktop {
        width: 1200px;
        border-radius: 22px;
        margin-bottom: 54px;
    }
}

.contacts-des-wrap {
    @include desktop {
        display: flex;
    }
}

.contatcs-info-text{
    width: 293px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    padding-left: 15px;

    @include tablet {
        width: 488px;
        padding: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
        color: #FFFFFF;
    }
}

.contacts-link{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    @include tablet {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 0;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
    }

}

.contacts-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.contacts-item-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: #FFFFFF;
    @include tablet {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
    }
}

.contacts-item-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    color: #8D9289;
    @include tablet {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;       
    }
}

.contacts-item-link + .contacts-item-link {
    margin-top: 8px;
}

.contacts-form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    @include tablet {
        margin: 0 auto;
        width: 590px;
        padding: 0;
    }
}

.contacts-form-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #86E543;
}

.contacts-form-input{
    margin-bottom: 40px;
    padding-bottom: 4px;
    max-width: 100%;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--accent);
    color: #FFFFFF;
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-transform: capitalize;
        color: #ffffff;
    }
}

.contacts-form-texterea{
    color: var(--primary-text-color);
    background: transparent;
    outline: transparent;
    resize: none;
    margin-bottom: 24px;
    border: 1px solid var(--accent);
    min-height: 95px; 
    @include mobile {
        width: 100%;       
            
    }
    @include tablet {
        height: 120px;
    }
}

.contacts-form-btn{
    color: #FFFFFF;
    margin: 0 auto;
}

.contacts-comment-title{
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #CDCDCD;
}

// ------------------------------------

.backdrop{
    
}