.gallery-section {
    padding: 48px 0;

    @include tablet{
        padding: 120px 0;
    } 

    @include desktop {
        padding: 120px 0;
    }

    @include tablet {
        background-image: url(../images/gallery/sale-bg-tab.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include retina {
            background-image: url(../images/gallery/sale-bg-tabx2.jpg);
        }
    }

    @include desktop {
        background-image: url(../images/gallery/sale-bg-des.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include retina {
            background-image: url(../images/gallery/sale-bg-desx2.jpg);
        }
    }
}

.gallery-container {
    padding: 0;
}

.gallery-image {
    margin: 0 auto;
    width: 100%;
}

// .galery-text-place {
//     position: absolute;
//     left: 24px;
//     bottom: 37px;
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 600;
//     font-size: 24px;
//     line-height: 28px;
//     background: linear-gradient(270deg, #1EDDE0 13.26%, #8BDA41 51.01%, #EF001B 107.89%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     text-emphasis-color: transparent;
//     width: 257px;
// }

.gallery-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.gallery-pagination-img,
.gallery-pagination-active {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--primary-text-color);
    border-radius: 8px;

    margin-top: 24px;
    
    @include tablet {
        margin-top: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 24px;
    }


}

.gallery-pagination-active {
    width: 40px;
}