.hero {
  height: 601px;
  width: 100%;
  background-color: var(--primary-bg-color);
  background-image: url(../images/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 0;
@include tablet {
  height: 860px;
  background-size: cover;
  background-position: 75% 0;
}

@include desktop {
  background-size: cover;
  background-position: 0 0;
}

}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 179px 36px;
  align-items: center;
  
  .hero-container::before {
    content: "";
position: absolute;
width: 304px;
height: 520px;
position: absolute;
    top: -48px;
    right: -5px;
    opacity: 0.7;

    background-image:  url(../images/hero/bg-gadget-mob.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    @include retina {
          background-image: url(../images/hero/bg-gadget-mob-2x.png);}

    
    
  
  @include tablet {
    width: 379px;
    height: 616px;
    top: 211px;
    right: 129px;

    background-image: url(../images/hero/bg-gadget-tab.png);
    background-repeat: no-repeat;
    background-size: 100%;
    @include retina {
    background-image: url(../images/hero/bg-gadget-tab-2x.png);
  }
  }
  
  @include desktop {
    width: 611px ;
    height: 573px;
    top: 280px;
    right: 142px;
  
    background-image: url(../images/hero/bg-gadget-desk.png);
    background-repeat: no-repeat;
    background-size: 100%;
  @include retina {
    background-image: url(../images/hero/bg-gadget-desk-2x.png);
  }
  }

  }


.hero-title {
  display: block;
  text-align: center;
  align-items: center;
  width: 247px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.187;

  color: var(--primary-text-color);
  margin-bottom: 25px;

  @include mobile {
    font-size: 32px;
    line-height: 1.12;
  }

  @include tablet {
    font-size: 56px;
    line-height: 1.18;
    text-align: left;
    width: 388px;
    margin-bottom: 94px;
  }

  @include desktop {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 40px;
    width: 515px;
  }
}

