.hero {
  height: 601px;
  background-image: url(../images/hero/bg-gadget-mob.png),
    url(../images/hero/bg-fon-hero.png), url(../images/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: right 0 top -29px, 80% -73px, 80% -80px;
  background-size: 304px 472px, cover, cover;
  background-blend-mode: luminosity;
  @include retina {
    background-image: url(../images/hero/bg-gadget-mob-2x.png),
      url(../images/hero/bg-fon-hero-2x.png), url(../images/hero/bg-hero-2x.jpg);
  }
  @include tablet {
    height: 860px;
    background-image: url(../images/hero/bg-gadget-tab.png),
      url(../images/hero/bg-fon-hero.png), url(../images/hero/bg-hero.jpg);
    background-size: 379px 616px, cover, cover;
    background-position: 389px 169px, 70% -70px, 70% -79px;
    @include retina {
      background-image: url(../images/hero/bg-gadget-tab-2x.png),
        url(../images/hero/bg-fon-hero-2x.png),
        url(../images/hero/bg-hero-2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/hero/bg-gadget-desk.png),
      url(../images/hero/bg-fon-hero.png), url(../images/hero/bg-hero.jpg);
    background-size: 668px 652px, cover, cover;
    background-position: left 573px top 50px, 100% -100px, 100% -100px;
    @include retina {
      background-image: url(../images/hero/bg-gadget-desk-2x.png),
        url(../images/hero/bg-fon-hero-2x.png),
        url(../images/hero/bg-hero-2x.jpg);
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  align-items: center;

  @include tablet {
    // padding-top: 290px;
    align-items: flex-start;
  }

  @include desktop {
    // padding-top: 316px;
    padding-left: 102px;
    align-items: flex-start;
  }
}

.hero-title {
  display: block;
  text-align: center;
  align-items: center;
  width: 247px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.187;

  color: var(--primary-text-color);
  margin-bottom: 25px;

  @include mobile {
    font-size: 32px;
    line-height: 1.12;
  }

  @include tablet {
    font-size: 56px;
    line-height: 1.18;
    text-align: left;
    width: 388px;
    margin-bottom: 94px;
  }

  @include desktop {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 40px;
    width: 515px;
  }
}

.hero-link {
  text-align: center;
  justify-content: center;
  padding: 16px 20px;
}
