.hero {
  background-color: var(--primary-bg-color);
}

.hero-container {
    
  padding: 179px 36px;
  align-items: center;
  height: 500px;

  background-image: url(../images/hero/bg-mous.png),
    url(../images/hero/bg-headphone.png), url(../images/hero/bg-keybord.png),
    url(../images/hero/bg-hero.jpg);
  background-size: 60px 99px, 150px 186px, 88px 42px, cover;
  background-repeat: no-repeat;
  background-position: top 87px left 0px, top -48px Left 211px,
    top 394px left 150px, left 75% top 50%;

  @include tablet {
    padding: 150px 40px 200px 40px;
    align-items: left;
    height: 724px;

    background-size: 100px 165px, 180px 223px, 143px 69px, cover;
    background-position: top 68.87px left 430px, top 193px left 530px,
      top 446px left 421px, 100%;
  }

  @include desktop {
    background-image: url(../images/hero/bg-hero.jpg);
    background-size: auto;
    background-position: 100%;
  }
}

.hero-title {
    
  display: block;
  text-align: center;
  width: 250px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;

  color: var(--primary-text-color);
  margin-bottom: 25px;

  @include tablet {
    font-size: 56px;
    line-height: 1.18;
    text-align: left;
    width: 388px;
    margin-bottom: 94px;
  }

  @include desktop {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 40px;
    width: 515px;
  }
}

.hero-link {
  display: block;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.18x;
  padding: 16px 20px;
  text-transform: uppercase;

  background: var(--accent);
  border-radius: 16px;

  @include tablet {
    font-size: 32px;
    display: inline-block;
  }
}

